<main id="solutions-main">
    <div class="row">
        <div class="slate signin-page col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
            <div class="container">
                {{# if success }}
                    <section class="alert alert-success">
                        <!-- Change those to banners later -->
                        <h4>{{success}}</h4>
                    </section>
                {{ else }}
                    {{# if errors }}
                        <section class="alert alert-danger">
                            <h4>{{errors}}</h4>
                        </section>
                    {{/if}}
                {{/if}}
                {{#if flashMsg}}
                    <section class="alert alert-danger">
                        {{flashMsg}}
                    </section>
                {{/if}}

                <h3 class="signin"><hr><i class="fa fa-key" aria-hidden="true"></i> Reset Password<hr></h3>
                <form action="/user/password/change" method="post">
                    <div class="form-group signin-group">
                        <div class="input-group input-group-lg">
                            <div class="input-group-addon addon-username">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            <input type="text" class="form-control input-username" placeholder="password" name="password" required>
                        </div>
                        <div class="input-group input-group-lg">
                            <div class="input-group-addon addon-password">
                                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                            </div>
                            <input type="password" class="form-control input-lg input-password" placeholder="password" name="passwordConfirm" required>
                        </div>
                    </div>
                    <input type="hidden" name="_email" value="{{ email}}">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

                    <button class="signin-btn signin-insite btn-lg btn btn-primary btn-block"><span>Submit</span></button>
                </form>

            </div>

        </div>
    </div>

</main>