<main id="solutions-main">
<div class="container user-info-content">
<div class="row">

<!-- User Profile details -->
<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-xs-offset-0 col-sm-offset-0">

    <!-- Title -->
    <div class="row u-title">
        <h1><i class="fa fa-user" aria-hidden="true"></i> Account</h1>
    </div>

    <!-- Error Message Check/Display -->
    {{# if messages.success }}
        <section class="alert alert-success">
            <!-- Change those to banners later -->
            <h3>{{ messages.success }}</h3>
        </section>
    {{ else }}
        {{# if messages.error }}
            <section class="alert alert-danger">
                <h3>{{ messages.error }}</h3>
            </section>
        {{/if}}
    {{/if}}

    <div id="u-main" class="u-main row">

        <!-- User name Header row -->
            <div class="u-name-header col-xs-12">
                <h2>{{user.user_name}}</h2>
            </div>

        <!-- Main Content row -->
            <!-- Side Panel -->
            <div class="u-aside col-xs-12 col-sm-3" align="center">
                <!-- User Image -->
                <img alt="User Pic" src="../assets/images/avatar.png"
                     class="img-circle img-responsive">
                <h3>{{ user.f_name }} {{ user.l_name }}</h3>
                <h4>{{ user.email }}</h4>

                <!-- Side Nav -->
                <nav>
                    <button class="nav-o" id="nav-profile">
                        <div class="nav-o-container">
                            <h5><i class="fa fa-home" aria-hidden="true"></i> My Profile</h5>
                        </div>
                    </button>

                    <button class="nav-o" id="nav-comments">
                        <div class="nav-o-container">
                            <h5><i class="fa fa-comment-o" aria-hidden="true"></i> Comments</h5>
                        </div>
                    </button>

                    <button class="nav-o" id="nav-follows">
                        <div class="nav-o-container">
                            <h5><i class="fa fa-list" aria-hidden="true"></i> Follows</h5>
                        </div>
                    </button>

                    <button class="nav-o" id="nav-inbox">
                        <div class="nav-o-container">
                            <h5><i class="fa fa-envelope" aria-hidden="true"></i> Inbox</h5>
                        </div>
                    </button>

                    <button class="nav-o" id="nav-logout">
                        <div class="nav-o-container">
                            <h5><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</h5>
                        </div>
                    </button>

                </nav>

            </div>

            <!-- Content Pages (On Right) -->
            <article class="col-xs-12 col-sm-9 u-pages">
                <section class="u-profile" id="profile-general">
                    <h4>Profile </h4>

                    <hr>

                    <h5>Personal Info</h5>
                    <p>Username: <em>{{user.user_name}}</em></p>
                    <p>Name: <em>{{ user.f_name }} {{ user.l_name }}</em></p>


                    {{# if user.university }}
                        <p>University: <em>{{ user.university }}</em></p>
                    {{/if}}
                    {{# if user.department }}
                        <p>Department: <em>{{ user.department }}</em></p>
                    {{/if}}

                    <hr>
                    <h5>User Stats</h5>
                    <p>Answered: <em>{{ user.answered }}</em></p>
                    <p>Comments: <em>{{ user.comments }}</em></p>
                    <p>Inbox: <em>{{ user.messages }}</em></p>

                    <!-- Need to add -->
                    <p>Score: <em>N/A</em></p>

                </section>


                <!-- Add Script for paging -->
                <section class="u-profile" id="profile-follows">
                    <h4>Follows </h4>

                    <hr>
                    <p>[PlaceHolder]</p>
                </section>

                <section class="u-profile" id="profile-comments">
                    <h4>Comments </h4>

                    <hr>
                    <p>[PlaceHolder]</p>
                </section>

                <!-- Inbox page -->
                <section class="u-profile" id="profile-inbox">
                    <h4>Inbox </h4>
                    <hr>
                    <h5 id="u-inbox-count"></h5>
                    {{# if inbox }}
                        <div class="col-sm-12" id="u-inbox-container">
                            <table class="table table-striped u-table">
                                <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Subject</th>
                                    <th>Sender</th>
                                </tr>
                                </thead>
                                <tbody id="u-inbox-body">
                                </tbody>
                            </table>
                        </div>
                    {{ else }}
                        <h3>No Messages.</h3>
                    {{/if}}
                    <div id="u-pageNumber"></div>
                    <div id="u-pager"></div>
                </section>


            </article>

    </div>

</div>

</div>
</div>
</main>
